MYSQL_DATABASE=ignoa_payment
MYSQL_USER=ignoa
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
INTERNAL_API_KEY=local-internal-key
API_BASE_URL=http://localhost:38080
TOSS_BASE_URL=https://api.tosspayments.com
TOSS_SECRET_KEY=test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6
CLOUDFRONT_ORIGIN_VERIFY=
APP_LOG_LEVEL=DEBUG
