# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Internal API (ignoa-api ↔ ignoa-payment)
INTERNAL_API_KEY=
API_BASE_URL=http://<IP>:38080

# Toss Payments
TOSS_BASE_URL=https://api.tosspayments.com
TOSS_SECRET_KEY=

# AWS CloudFront
CLOUDFRONT_ORIGIN_VERIFY=

# Logging
APP_LOG_LEVEL=
